.lvlWrapper{
    grid-row: 2/3;
    grid-column: 1/4;
    width: 80%;
}

.Progress {
    height: 5px;
    position: relative;
    background-color: grey;
    margin-bottom: 8px;
}

#percent{
    display: inline-block;
}

.Progress .inner {
    position: absolute;
    background-color: black;
    height: 5px;
    width : 0px;
    transition: width 1s;
}